.purchase-button{
    width: 100% !important
}
.dad {
    margin-top: 73% !important;
    position: relative;
}
#sad {
    padding: 10px !important;
    background: gray !important;
    padding: 1rem !important;

    border-: thick !important;
    border-radius: 10px !important;
}
.jumbotron {
    padding-top:1rem;
}