{% extends 'main.html' %}
{% from "showingerrors.html" import show_errors %}
{% block links %}
<!--<link rel="stylesheet" href="/static/css/register.css">-->
<link rel="stylesheet" href="/static/css/registration.css">

{% endblock %}
{% block content %}
<div  class="errors-container" id="errors" role="alert">





{# % for i in d.keys() % #}

{{ show_errors(d) }}
{# { d|r } #}
{# % endfor % #}


{% for msg in get_flashed_messages() %}

    {% if msg == "Please log in to access this page." %}
{% else %}

    {{ msg|e }}
{%    endif  %}
{% endfor %}
        </div>
<div class="jumbotron">
    <form class="reg" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label(class='form-label') }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.username.label(class='form-label') }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class='form-label') }}
        {{ form.password(class="form-control") }}
    </div>
      <div class="mb-3">
        {{ form.pass_confirm.label(class='form-label') }}
        {{ form.pass_confirm(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.profile_pic.label(class="formFileMultiple") }}
        {{ form.profile_pic(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.mobile.label(class="form-label") }}
        {{ form.mobile(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.employee_id.label(class='form-label') }}
        {{ form.employee_id(class="form-control") }}
      </div>
      <div class="mb-3">
<!--        <span class="form-text">by using this site you agree to the <a href='/privacypolicy'>terms of uses and condition</a></span><br>-->
        {{ form.submit(class="btn btn-primary sad") }}
    </div>
    </form>
</div>
<script src="/static/js/registration.js"></script>
{% endblock %}
